[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openpyxl = "*"
alive-progress = "*"
python-dotenv = "*"
firebase-admin = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.11"
